.box {
  background-color: #0799d3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  animation-name: jump;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes jump {
    from {
        transform: translateY(0px);
    }
    
    to {
        transform: translateY(100px);
    }
}